
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th>DateEsntry</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>GeoLocation</th>
      <th>Pan</th>
      <th>Pin</th>
      <th>ID</th>
      <th>Status</th>
      <th>Fee</th>
      <th>Guid</th>
      <th>DateExit</th>
      <th>DateFirst</th>
      <th>DateRecent</th>
      <th>Url</th>
      <th>Modify</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allData">
      <td>{{ data.name }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.company }}</td>
      <td>{{ data.date_entry }}</td>
      <td>{{ data.address_1 }}</td>
      <td>{{ data.city }}</td>
      <td>{{ data.zip }}</td>
      <td>{{ data.geo }}</td>
      <td>{{ data.pan }}</td>
      <td>{{ data.pin }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.fee }}</td>
      <td>{{ data.guid }}</td>
      <td>{{ data.date_exit }}</td>
      <td>{{ data.date_first }}</td>
      <td>{{ data.date_recent }}</td>
      <td>{{ data.url }}</td>
      <td><button (click)="modify(data.id)">
                Modify
              </button></td>
    </tr>
  </tbody>
  </table>


<!--
  <div class="table-responsive private-network-table">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
      <div id="DataTables_Table_0_filter" class="dataTables_filter">
        <label>Search:
          <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
        </label>
      </div>
      <table class="table device-table dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
          <tr role="row">
            <th width="5%" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 57px;">#</th>
            <th width="10%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Device: activate to sort column ascending" style="width: 136px;">Device</th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 214px;">Name</th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="IP Address: activate to sort column ascending" style="width: 216px;">IP Address</th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Time Online : activate to sort column ascending" style="width: 214px;">Time Online </th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Lease Remain : activate to sort column ascending" style="width: 214px;">Lease Remain </th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Downlink : activate to sort column ascending" style="width: 215px;">Downlink </th>
            <th width="15%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Uplink : activate to sort column ascending" style="width: 137px;">Uplink </th>
            <th width="10%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status : activate to sort column ascending" style="width: 35px;">Status </th>
          </tr>
         <tr role="row">
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Company</th>
          <th>DateEntry</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip</th>
          <th>GeoLocation</th>
          <th>Pan</th>
          <th>Pin</th>
          <th>ID</th>
          <th>Status</th>
          <th>Fee</th>
          <th>Guid</th>
          <th>DateExit</th>
          <th>DateFirst</th>
          <th>DateRecent</th>
          <th>Url</th>
          <th>Modify</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of allData">
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.company }}</td>
            <td>{{ data.date_entry }}</td>
            <td>{{ data.address_1 }}</td>
            <td>{{ data.city }}</td>
            <td>{{ data.zip }}</td>
            <td>{{ data.geo }}</td>
            <td>{{ data.pan }}</td>
            <td>{{ data.pin }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.fee }}</td>
            <td>{{ data.guid }}</td>
            <td>{{ data.date_exit }}</td>
            <td>{{ data.date_first }}</td>
            <td>{{ data.date_recent }}</td>
            <td>{{ data.url }}</td>
            <td><button (click)="modify(data.id)">
                      Modify
                    </button></td>
          </tr>
        </tbody>
      </table>
      <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div>
      <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
        <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Next</a>
      </div>
    </div>
  </div>-->
  


