<p>test ngvforlib</p>
 <!-- <nggud-items-control>
    <div *ngVFor="let row of allData">   
    </div>
  </nggud-items-control>  
  <div >
    <div  
         *ngVFor='let row of allData'>
      <body>{{row}}</body>
    </div>
  </div> -->

  
<p>test virtual scroller</p>
    <virtual-scroller #scroll
      [items]="allData">
      <table>
		<thead #header>
			<th>Index</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Age</th>
			<th>Address</th>
		</thead>
		<tbody #container>
			<tr *ngFor="let item of scroll.viewPortItems">
			  <td>{{item.id}}</td>
			  <td>{{item.name}}</td>
			  
			</tr>
		  </tbody>
      </table>
    </virtual-scroller>
  

  

